<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body id="app">
    <header>
        <nav class="navbar">
            <h1 class="page-title">GAMES</h1>
            <label class="hamburger-container">
                <input v-model="menu" type="checkbox" name="" id="hamburger-btn">
                <div class="bar">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
            </label>
        </nav>
    </header>

    <main class="main-container">

        <template v-if="menu === true">
            <div class="modal-background">
                <div class="modal-content">
                    <a class="modal-link" href="./home.html">Home</a>
                    <a class="modal-link" href="./about.html">About MDHL</a>
                    <a class="modal-link active" href="#">Games Schedule</a>
                    <a class="modal-link" href="">Galery</a>
                    <a class="modal-link" href="">Rules & Policies</a>
                    <a class="modal-link" href="">Registration Form</a>
                    <a class="modal-link" href="">Profile</a>
                    <a class="modal-link" href="">Contact Us</a>
                </div>
            </div>
        </template>

        {{filter}}

        <div class="games-title-container">
            <h2 class="main-title">GAMES SCHEDULE</h2>
            <p class="tap-msg">Tap on Match for More Details</p>
        </div>
        <div class="selects-container">
            <div @click="showOptions()" class="filter-container">
                <label class="select-label">Filter By Team</label>
                <div class="icon">
                    <span class="arrow-line1"></span>
                    <span class="arrow-line2"></span>
                </div>
            </div>
            <template v-if="selectOptions === true">
                <div class="select-options">
                    <option @click="teamToFilter(`All`)" value="All" class="options">All</option>
                    <option @click="teamToFilter(`U1`)" value="U1" class="options">U1</option>
                    <option @click="teamToFilter(`U2`)" value="U2" class="options">U2</option>
                    <option @click="teamToFilter(`U3`)" value="U3" class="options">U3</option>
                    <option @click="teamToFilter(`U4`)" value="U4" class="options">U4</option>
                    <option @click="teamToFilter(`U5`)" value="U5" class="options">U5</option>
                    <option @click="teamToFilter(`U6`)" value="U6" class="options">U6</option>
                </div>
            </template>
        </div>
        <div class="filter-container">
            <h4 class="select-label">Show Finisheds</h4>
            <label class="check-box">
                <input v-model="showFinisheds" class="checkbox" type="checkbox" name="" id="">
                <template v-if="showFinisheds === true">
                    <div class="checked"></div>
                </template>
            </label>
        </div>

        <section class="main-container">
            <template v-if="gamesFiltered">
                <template v-for="game in gamesFiltered">
                    <template v-if="game.status === `Finished` && showFinisheds === true">
                        <div class="card-event-finished">
                            <h3 class="card-title">{{game.month}} {{game.day}} - {{game.time}}</h3>
                            <div class="card-match-content">
                                <p class="text-card-match">{{game.team1}}</p>
                                <p class="versus">VS</p>
                                <p class="text-card-match">{{game.team2}}</p>
                            </div>
                        </div>
                    </template>
                    <template v-if="game.status === `To Play`">
                        <div class="card-event">
                            <h3 class="card-title">{{game.month}} {{game.day}} - {{game.time}}</h3>
                            <div class="card-match-content">
                                <p class="text-card-match">{{game.team1}}</p>
                                <p class="versus">VS</p>
                                <p class="text-card-match">{{game.team2}}</p>
                            </div>
                        </div>
                    </template>
                </template>
            </template>
        </section>

    </main>

    <footer>
        <div class="footer">
            <a href="./home.html"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="black" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
                </svg></a>
            <a href="./about.html"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="black"
                        d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                </svg></a>
            <a class="active" href="#"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#20b86f"
                        d="M17.68 4H14.3L12.56 8C12.53 8.04 12.45 8.22 12.31 8.5S12.06 9.04 12 9.19L9.7 4H6.32L10.41 12.84C10.5 13.06 10.73 13.59 11.11 14.43C11.5 15.28 11.78 15.91 12 16.35L13.41 19.44C13.6 19.78 13.89 19.95 14.3 19.95L19 20V16H15L13.6 12.84L17.68 4M20.03 16V20H22V17C22 16.73 21.91 16.5 21.72 16.28C21.53 16.08 21.3 16 21 16H20.03M5 16V20L9.7 19.95C10.11 19.95 10.4 19.78 10.59 19.44L11.44 17.5L9.84 14.06L9 16H5M2 20H3.97V16H3C2.7 16 2.47 16.08 2.28 16.28C2.09 16.5 2 16.73 2 17V20Z" />
                </svg></a>
            <a href="./galery.html"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="black"
                        d="M8.5,13.5L11,16.5L14.5,12L19,18H5M21,19V5C21,3.89 20.1,3 19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19Z" />
                </svg></a>
            <a href="./profile.html"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="black"
                        d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                </svg></a>
        </div>
    </footer>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyBNetGazhpT9Smwf7kA9I7m-A3qOok2278",
            authDomain: "mdhl-mobile.firebaseapp.com",
            projectId: "mdhl-mobile",
            storageBucket: "mdhl-mobile.appspot.com",
            messagingSenderId: "969019519645",
            appId: "1:969019519645:web:a5314f5afe1299ee8fda74"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
    </script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
</body>

</html>