*:not(ol, ul) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background-color: #C2C2C2;
    width: 100vw;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.link{
    background: none;
    border: none;
}

.hamburger-container {
    margin-right: 35px;
}

#hamburger-btn,
#accordion-btn,
.checkbox {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.bar {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.bar .middle {
    height: 3px;
    width: 24px;
    background: black;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

.bar .top {
    bottom: 3px;
    height: 3px;
    width: 24px;
    background: black;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

.bar .bottom {
    top: 6px;
    height: 3px;
    width: 24px;
    background: black;
    border-radius: 50px;
    position: absolute;
    transition: .3s ease;
}

#hamburger-btn:checked~.bar .top {
    transform: rotate(-45deg);
    width: 24px;
    transform-origin: right;
    top: -8px;
}

#hamburger-btn:checked~.bar .bottom {
    transform: rotate(45deg);
    width: 24px;
    transform-origin: right;
    top: 8px;
}

#hamburger-btn:checked~.bar .middle {
    transform: translatex(10px);
    opacity: 0;
}






.footer {
    background-color: #C2C2C2;
    width: 100vw;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.219);
}

.active {
    border-bottom: 2px solid #20b86f;
    border-radius: 2px;
}

.page-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    text-transform: uppercase;
}

body {
    margin: 56px 0px;
    background-image: url("./assets/FondoBN-L.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.main-title-container, .login-card {
    margin: 10px 0px 34px 0px;
    width: 100vw;
    padding: 7px 0px;
    background-color: rgba(32, 184, 111, 0.64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.main-title {
    font-size: 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
}

.card-event-finished {
    margin: 3px 0px;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(40, 41, 41, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
    color: #C2C2C2 !important;
}
.card-event {
    margin: 3px 0px;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}


.card-title {
    font-size: 14px;
    font-weight: bold;
}

.card-content {
    font-size: 14px;
    font-style: italic;
}

.card-match-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.text-card-match {
    font-size: 32px;
    font-weight: bold;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.589));
}

.versus {
    font-size: 28px;
    font-weight: bold;
    background: -webkit-linear-gradient(129deg, rgba(249, 223, 24, 1) 35%, rgba(93, 247, 142, 1) 100%);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.589));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(249, 223, 24, 1);
}


.accordion {
    max-width: 100vw;
}

.content {
    padding: 15px 10px;
    background-color: rgba(32, 184, 111, 0.64);
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.accordion-btn-container, .btn {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 7px;
    background-color: rgba(32, 184, 111, 0.64);
    margin-top: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.icon {
    margin-right: 34px;
}

.arrow-line1,
.arrow-line1b,
.arrow-line2,
.arrow-line2b {
    height: 3px;
    width: 12px;
    background: black;
    border-radius: 50px;
    position: absolute;
}

.arrow-line1 {
    transform: rotate(45deg) translateX(-5.5px);
}

.arrow-line2 {
    transform: rotate(-45deg) translateX(5.5px);
}

.arrow-line1b {
    transform: rotate(-45deg) translateX(-5.5px);
}

.arrow-line2b {
    transform: rotate(45deg) translateX(5.5px);
}

#logo-about, .logo {
    width: 60vw;
    align-self: center;
    margin-bottom: 3vh;
    filter: drop-shadow(0px 10px 8px black);
}

.galery-container{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.picture{
    margin: 2px 0px;
    max-width: 100vw;
    height: auto;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

@media (orientation: landscape) {
    #logo-about {
        display: none;
    }
    .logo{
        max-height: 200px;
        width: auto;
    }
    .picture{
        max-width: 65vw;
    }
}

.modal-background {
    width: 100vw;
    height: 100vh;
    top: 36px;
    background-color: #373535b9;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;

}

.modal-content {
    width: 300px;
    min-height: 36vh;
    bottom: 12vh;
    border-radius: 1rem;
    background-color: #C2C2C2;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-link {
    text-decoration: none;
    padding: 6px 0px;
    color: black;
    font-style: italic;
}

.games-title-container {
    margin: 10px 0px 0px 0px;
    width: 100vw;
    padding: 7px 0px;
    background-color: rgba(32, 184, 111, 0.64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.tap-msg {
    margin-top: 6px;
    font-size: 12px;
    font-style: italic;
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 6px;
    width: 100vw;
    padding: 7px 0px;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.select-label {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.select-container {
    display: flex;
    flex-direction: column;
}

.select-options {
    background-color: rgba(32, 184, 111, 0.64);
    border-bottom: 2px solid #20b86f;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
    text-align: center;
}

.options {
    padding: 4px;
}

.options:nth-child(odd) {
    background-color: #20b86f;
    padding: 4px;
}

.check-box {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    margin-right: 21px;
    align-items: center;
}

.checked {
    width: 10px;
    height: 10px;
    background-color: black;
    margin: 2px;
}

.card-link{
    text-decoration: none;
    color: black;
}

.game-details{
    text-align: center;
    margin: 30px 0px;
    font-size: 16px;
}

.match-details-container{
    padding-bottom: 3px;
    margin-bottom: 3px;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.table-header{
    padding: 6px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
    font-size: 16px;
}

.table-container{
    display: flex;
    max-width: 100vw;
}

.table{
    margin: 1px;
    width: 50vw;
    margin-top: 3px;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.card-comment{
    padding: 10px;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.u-list, .o-list{
    margin: 0;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
    text-align: start;
    font-size: 14px;
}

.list-content{
    padding: 10px 0px;
}

.o-list-latin{
    list-style-type: lower-latin;
}

.form{
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
    padding: 10px 30px;
}

.input-container{
    margin: 12px 0px;
    min-height: 36px;
    border-color:#20b86f;
    background-color: #ceffe7;
    display: flex;
    align-items: center;
}

.radio-checkbox-container{
    padding: 6px 0px;
    margin: 12px 0px;
    min-height: 36px;
    border-color:#20b86f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-select-container{
    padding: 6px 0px;
    margin: 12px 0px;
    min-height: 36px;
    border-color:#20b86f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-radios{
    width: 90%;
    margin: 3px 0px;
    display: flex;
    justify-content: space-evenly;
}

.row-radios label{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-label, .radio-label{
    max-width: 90%;
    margin-top: 3px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.school-option{
    max-width: 90%;
    margin-top: 3px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    color: black
}

.input-clean{
    background: none;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;
    font-size: 16px;
    margin-bottom: 6px;
}

.form-select{
    max-width: 97%;
    margin: 6px 0px;
    background-color: #ceffe7;
}

.radio-label{
    width: 27.8%;
}

.permission-text{
    font-size: 14px;
    text-align: start;
    margin: 6px;
}

.btn{
    margin-bottom: 6px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(14, 88, 52, 0.64);
    background: -webkit-linear-gradient( rgba(32, 184, 111, 0.64) 9%,rgba(14, 88, 52, 0.64) 100%);
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.219);
    text-align: center;
}

.card{
    margin: 3px 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
    text-align: center;
    padding: 10px 0px;
}

.standard-text{
    font-size: 14px;
    margin: 6px 0px;
}

.email{
    color:yellow;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px black;
}

.avatar{
    margin-top: 20px;
}

.link-style{
    color: white;
}

.login-card{
    min-height: 70vh;
}

.hero-container{
    max-width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text-container{
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero-text{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    color: #39b394;
    text-shadow: 5px 8px 3px black;
}


#toggle{
    display: none;
}
.theme-btn{
    display: inline-block;
    width: 80px;
    height: 25px;
    background-color: #ffff;
    border-radius: 30px;
    position: relative;
    margin: 20px;
}
.theme-btn::after{
    content: url(./assets/white-balance-sunny.png);
    width: 30px;
    height: 30px;
    background-color: #20b86f;
    border: 2px solid #ffff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px (rgba(0, 0, 0, 0.25));
    position:absolute;
    top: -5px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s,
    transform 1s ease-in;
}
#toggle:checked + .theme-btn::after{
    content: url(./assets/moon-waxing-crescent.png);
    background-color: #083822;
    transform: translate(50px) rotate(360deg);
}

.comment-container{
    margin: 3px 0px;
    padding: 10px 0px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(32, 184, 111, 0.64);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.219);
}

.comment{
    width: 90%;
    margin: 3px 0px;
    padding: 6px;
    border: 1px solid #20b86f;
    background-color: #ceffe7;
}

.comment-text{
    overflow: scroll;
    font-size: 14px;
    font-style: italic;
    color: black;
}

.no-comment-alert{
    text-align: center;
}

.textarea{
    margin: 12px;
    resize: none;
}

.header-comment{
    display: flex;
    justify-content: space-between;
}